@using Movie_Theories_Project.Models
@model MoviePO
@{
    ViewBag.Title = "UpdateMovie";
}

@if (Session["Role"] != null && (int)Session["Role"] == 2 || Session["Role"] != null && (int)Session["Role"] == 3)
{
    <h2>Update Movie</h2>
    using (Html.BeginForm("UpdateMovie", "Movie", FormMethod.Post))
    {
        <div class="form-horizontal">
            @Html.LabelFor(model => Model.Title, "Title*:")
            <div class="form-group">
                @Html.TextBoxFor(model => Model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.Title, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => Model.Director, "Director*:")
            <div class="form-group">
                @Html.TextBoxFor(model => Model.Director, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.Director, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => Model.YearReleased, "Year Released*:")
            <div class="form-group">
                @Html.TextBoxFor(model => Model.YearReleased, new { @type = "number", @min = "1888", @max = "2100", @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.YearReleased, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => Model.MovieId)
            </div>
            @Html.LabelFor(model => Model.OpeningWeekend, "Money Made on Opening Weekend:")
            <div class="form-group">
                @Html.TextBoxFor(model => Model.OpeningWeekend, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.OpeningWeekend, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <input class="btn btn-warning" type="submit" value="Update Movie" />
        </div>
    }
}

